body{
    background: linear-gradient( #3eff9e,#01cea5, #01b4ae);
}
h1{
    color: black;
    background-color: aquamarine;
}
#show-sketch{
    float: right;
}
canvas{
    border: 5px white;
    border-radius: 20px;
    animation-name:sketch;
    animation-duration: 4s;
    margin-top: 90px;
    animation-iteration-count: infinite;
}
@keyframes sketch{
    from{box-shadow: 1px 1px 38px black;}
    to{box-shadow: 1px 1px 38px white;}
}
p{
    padding-top: 10px;
    font-size: 50px;
}